@import "tailwindcss";


#second-slider::-webkit-scrollbar{
    display: none;
}
.genre-scroll::-webkit-scrollbar {
    display: none;

    .genre-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }}