@import "tailwindcss";

body{
  background-color: #0f172b;
}

#second-slider::-webkit-scrollbar{
    display: none;
}
.genre-scroll::-webkit-scrollbar {
    display: none;

    .genre-scroll {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }}
/* Add in your CSS file or inside a styled component */
.cool-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #8b5cf6 #1f2937; /* thumb and track colors */
  }
  
  .cool-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  
  .cool-scrollbar::-webkit-scrollbar-track {
    background: #1f2937; /* dark gray */
    border-radius: 8px;
  }
  
  .cool-scrollbar::-webkit-scrollbar-thumb {
    background: #a78bfa;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  .cool-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a78bfa; /* lighter violet */
    display: none;
  }
  

  @layer base {
    ::selection {
      background: #ff6b35;
      color: #fff;
    }
  
    ::-moz-selection {
      background: #ff6b35;
      color: #fff;
    }
  }